
<p>
  $doctor.getName()
</p>

<form action="/doctors/$doctor.getId()/new" method="post">
  <label for="patient_name">Patient name</label>
  <input id="patient_name" name="patient_name" type="text"><br>

  <label for="dob">Date of Birth</label>
  <input id="dob" name="dob" type="text"><br>

  <label for="doctor_id">Doctor Id</label>
  <input id="doctor_id" name="doctor_id" type="text"><br>

  <button type="submit" class="btn btn-success">Submit</button>
</form>
