<table style="width:60%">
  <tr>
    <td><a href="/specialties"><button class="btn btn-info">View by specialties</button></a></td>
    <td><a href="/doctors"><button class="btn btn-success">View by doctors</button></a></td>
    <td><a href="/patients"><button class="btn btn-warning">View by patients</button></a></td>
  </tr>
</table>
