<!DOCTYPE html>
<html>
  <head>
    <title>Doctor's Office</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='app.css' type="text/css">
  </head>
  <body>
    <div class="container">
      <h1>Doctor's Office</h1><br>

      #parse( $template )

    </div>
  </body>
</html>
