<h3>Patient List</h3>

<table style="width:60%">
  <tr>
    <td>Patient Name</td>
    <td>Patient Date of Birth</td>
    <td>Primary Doctor</td>
  </tr>
#foreach($patient in $patients)
<tr>
  <td><a href="/patients/$patient.getId()">$patient.getPatientName()</a></td>
  <td>$patient.getDob()</td>
  <td><a href="/doctors/$patient.getDoctorId()">Dr. $patient.getDoctorName()</a></td>
</tr>
#end
</table>
